#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to left, rgb(31, 0, 71) 5%, rgb(4, 4, 61) 30%, rgb(2, 0, 33) 70%);
}

.sinhala_font {
  font-family: 'Abhaya Libre', serif;
}

.gradient_text {
  background: linear-gradient(to bottom, #ffe329 10%, #84b310 85%, #6d8f08 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.washingMachineHub_left {
  height: 80vh;
  padding: 50px;
  background: linear-gradient(to top, black, transparent),
    url("./assets/washing_machine_hub.png");
  ;
  background-position: center;
  background-repeat: no-repeat;
  border-right: 5px solid rgb(158, 31, 255);
  border-bottom: 5px solid rgb(158, 31, 255);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}