.card_container_mobile {
    padding-top: 20px;
    align-self: center;
    width: 100vw;
    display: grid;
    grid-template-columns: 50% 50%;
    flex-direction: row;
    justify-content: space-around;
}

.card_mobile {
    margin-top: 0;
    margin: 30px;
    /* height: 35vh; */
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: "white";
}

.card img {
    width: 100%;
    aspect-ratio: 1/1;
}

.card_mobile div {
    padding-top: 10px;
    font-size: 0.7em;
}



.menu-container {
    background-color: rgba(0, 0, 0, 0.8);
    /* border-radius: 10px; */
    box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.2);
    width: 100vw;
    height: 100vh;
    padding: 20px;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(13.5px);
    animation: nav_anim 400ms linear forwards;
}

.menu-container-hidden {
    height: 0vh;
    animation: nav_anim 400ms linear backwards;
}

.menu-container-text {
    display: block;
    width: 100vw;
    height: 50px;
    font-size: 25px;
    font-weight: 400;
    /* border: 1px solid red; */
    text-align: start;
    padding-left: 20px;
    animation: nav_item_anim 400ms linear forwards;
}

.menu-container-text-hidden {
    display: hidden;
    visibility: hidden;
    font-size: 0px;
}



.washing_machine_backgound_mobile {
    padding: 50px;
    height: 35vh;
    background: linear-gradient(to top, black, transparent), url("./assets/washing_machine_hub.png");
    ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

.mobile_nav {
    backdrop-filter: blur(13.5px);
}

.experience_mobile {}

@keyframes nav_anim {
    0% {
        height: 0vh;
    }

    100% {
        height: 100vh;
    }

}

@keyframes nav_item_anim {
    0% {
        height: 0;
    }

    100% {
        height: 50px;
    }

}